<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
	<title>render测试</title>
</head>
<!-- 背景 Vue 推荐在绝大多数情况下使用 template 来创建你的 HTML。然而在一些场景中，你真的需要 JavaScript 的完全编程的能力，这就是 render 函数，它比 template 更接近编译器。-->
<!-- 创建一个h组件 根据传入的level确定使用哪一级的h标签 -->
<script type="text/javascript" src="./vue.js"></script>
<body>
<div id="testVue">
    <anchored-heading :level="1">Hello world!</anchored-heading>
    level : <input v-model="text">
</div>
</body>
<script type="text/x-template" id="anchored-heading-template">
    <h1 v-if="level === 1">
        <slot></slot>
    </h1>
    <h2 v-else-if="level === 2">
        <slot></slot>
    </h2>
    <h3 v-else-if="level === 3">
        <slot></slot>
    </h3>
    <h4 v-else-if="level === 4">
        <slot></slot>
    </h4>
    <h5 v-else-if="level === 5">
        <slot></slot>
    </h5>
    <h6 v-else-if="level === 6">
        <slot></slot>
    </h6>
</script>
<script>
    Vue.component('anchored-heading', {
        template: '#anchored-heading-template',
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    });
    var vm = new Vue({
        el: '#testVue',
        data : {
            text : '1'
        }
    });
</script>
</html>